.action-sheet {
    --posY: 0;
    --speed: 300ms;
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    transition: background-color 300ms ease-out;
    pointer-events: none;
}

.action-sheet__dialog {
    background-color: #FFF;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    transition: top 300ms ease-out;
}

.action-sheet__header,
.action-sheet__body,
.action-sheet__footer {
    padding-inline: 16px;
}

.action-sheet__header,
.action-sheet__footer {
    padding-block: 16px;
}

.action-sheet__header {
    height: 40px;
    padding: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.action-sheet__header::after {
    content: '';
    width: 40px;
    height: 3px;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

.action-sheet--show,
.action-sheet--slide-up,
.action-sheet--slide-down {
    pointer-events: all;
    background-color: rgba(0, 0, 0, .5);
}

.action-sheet--show .action-sheet__dialog {
    transform: translateY(var(--posY));
}

.action-sheet--slide-up .action-sheet__dialog {
    animation: slideUp var(--speed) ease-out forwards;
}

.action-sheet--slide-down .action-sheet__dialog {
    animation: slideUp var(--speed) ease-out reverse backwards;
}

.action-sheet--dragging .action-sheet__dialog {
    transform: translateY(var(--posY));
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(var(--posY));
    }
}
