main {
    height: 100dvh;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 0;
}

button {
    appearance: none;
    padding: 12px 16px;
    border: 1px solid #EEE;
    border-radius: 8px;
    background-color: tomato;
    color: #FFF;
    font-weight: bold;
    font-size: 1.2em;
    display: block;
}

.full-width {
    width: 100%;
}
